<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514871157919-jdrjrjht9n2rloh4mtt7jiklvgjhupo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514871157919-jdrjrjht9n2rloh4mtt7jiklvgjhupo6</string>
	<key>API_KEY</key>
	<string>AIzaSyBMfdHQXF-JgFjxCzhP9Z-t6sLT2gWuX-M</string>
	<key>GCM_SENDER_ID</key>
	<string>514871157919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kongbaguni.FourFundamentalOperations</string>
	<key>PROJECT_ID</key>
	<string>fourfundamentaloperations</string>
	<key>STORAGE_BUCKET</key>
	<string>fourfundamentaloperations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514871157919:ios:45cc022b06cfa93a27aeaa</string>
</dict>
</plist>